/* Resetowanie stylów */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Ogólny styl dla strony */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
}

/* Wrapper */
.wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* Główna część */
main {
    flex: 2;
    padding: 20px;
}

/* Nawigacja (kontakt) */
aside {
    flex: 1;
    background-color: #2E3A4A;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
}

/* Sekcja kontaktu */
.contact-block {
    margin-top: 20px;
}

.contact-links {
    margin: 10px 0;
    color: #FB6D3A;
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.contact-links a {
    color: #FB6D3A;
    text-decoration: none;
}

.contact-links a:hover {
    text-decoration: underline;
}

/* Nagłówki */
.LeftHeader {
    color: #FFFFFF;
    font-size: 22px;
    margin-bottom: 12px;
}

/* Lista projektów */
.list-primary {
    list-style-type: decimal;
    margin: 20px 0;
}

.list-primary-item {
    color: #595959;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
}

.list-primary-item:hover {
    text-decoration: underline;
}

/* Styl nagłówków sekcji */
.header-primary {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
}

.job-title {
    font-size: 18px;
    font-weight: 700;
    color: #333;
}

.job-date {
    font-size: 12px;
    color: #777;
    margin-bottom: 10px;
}
